<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <img src="/img/app-logo.png" class="app-logo" alt="Portfolio tracker"/>
                <p class="subtitle">Dashboard di monitoraggio dividendi</p>
            </div>
            <nav class="nav">
                <a href="/dashboard" class="nav-link {{#if isDashboard}}active{{/if}}">Dashboard</a>
                <a href="/portfolio" class="nav-link {{#if isPortfolio}}active{{/if}}">Recap Portfolio</a>
            </nav>
        </div>
    </div>
</header>